<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	  <title>无锡自由生活</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <!-- bootstrap -->
	    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
	    <link th:href="@{/css/bootstrap-overrides.css}" type="text/css" rel="stylesheet" />
	    <!-- theme -->
	    <link rel="stylesheet" type="text/css" th:href="@{/css/theme/default.css}" />
	    <!-- libraries -->
	    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}" />
	    <link rel="stylesheet" type="text/css" th:href="@{/css/elements/signin.css}" />
	    <!-- open sans font -->
	    <link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />
	    <!--[if lt IE 9]>
	      <script th:src="@{/js/html5.js}"></script>
	    <![endif]-->
	</head>
	<body class="onepage">
	     <div class="col-md-4 col-md-offset-4 text-center">
	        <img th:src="@{/images/logo.png}" class="logo" alt="logo"/>
	        <div>
	            <form class="m-t" role="form" th:action="@{/login}" method="post">
	            	<div class="alert alert-danger" th:if="${page_message ne null}" role="alert"><p th:utext="#{${page_message}}" /></div>
	                <div class="form-group">
		                <input type="text" name="telephone" class="form-control" placeholder="手机号码" required="required" />
		                <input type="password" name="password" class="form-control" placeholder="密码" required="required" />
	                </div>
	                <button type="submit" class="btn btn-primary block full-width signin-btn">登录</button>
	                <a href="#"><small>忘记密码?</small></a>
	            </form>
	            <p class="m-t"> <small>&copy; 无锡自由生活 2016</small> </p>
	        </div>
	    </div>
	    <!-- scripts -->
	    <script th:src="@{/js/jquery.min.js}"></script>
	    <script th:src="@{/js/bootstrap.js}"></script>
	    <script th:src="@{/js/theme.js}"></script>
	</body>
</html>